<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/cards.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/to-do.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="menu">
            <div class="user-box">
                <img src="/images/user-alt-solid.svg" alt="icon" />
                <h5> Witaj, <%= user %>! </h5>
            </div>
            <div class="stats">
                <p>Podsumowanie: </p>
                Zdania do zrobienia: 2 <br>
                Zdania w trakcie: 2 <br>
                Zdania gotowe: 2 <br>
            </div>
            <div class="center">
                <a href="/addCard">Nowe zadanie</a>
                <a href="/">Zmień hasło</a>
                <a href="/logout"> Wyloguj </a>
            </div>

        </div>
        <div class="tasks">

            <div class="todo">
                <% cards.forEach(card => { %>
                    <% if (card.column === 1) {%> 
                    <div class="card">
                        <p class="text"> <%= card.text %></p>
                        <h5 class="date"> Termin: <%= card.date.toLocaleDateString() %> </h5>
                    </div>
                    <% }}); %> 
            </div>

            <div class="inprogress">
                <% cards.forEach(card => { %>
                    <% if (card.column === 2) {%> 
                    <div class="card">
                        <p class="text"> <%= card.text %></p>
                        <h5 class="date"> Termin: <%= card.date.toLocaleDateString() %> </h5>
                    </div>
                    <% }}); %> 
            </div>

            <div class="done">
                <% cards.forEach(card => { %>
                    <% if (card.column === 3) {%> 
                    <div class="card">
                        <p class="text"> <%= card.text %></p>
                        <h5 class="date"> Termin: <%= card.date.toLocaleDateString() %> </h5>
                    </div>
                    <% }}); %> 
            </div>


        </div>
    </div>
</body>
</html>