<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/cards.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/to-do.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="menu">
            <div class="user-box">
                <img src="/images/to-do.png" alt="icon" />
                <h5> Witaj, <u><strong><%= user %></strong></u>! </h5>
            </div>
            <div class="stats">
                <% let a = 0, b = 0, c = 0%> 
                <% cards.forEach(card => { %>
                    <% if(card.column == 1) a += 1 %>
                    <% if(card.column == 2) b += 1 %>
                    <% if(card.column == 3) c += 1 %>
                <% }) %> 
                <p>Podsumowanie: </p>
                Zadania do zrobienia: <%= a %>  <br>
                Zadania w trakcie: <%= b %> <br>
                Zadania gotowe: <%= c %> <br>
            </div>
            <div class="center">
                <a href="/addCard">Nowe zadanie</a>
                <a href="/changePassword">Zmień hasło</a>
                <a href="/logout"> Wyloguj </a>
            </div>

        </div>
        <div class="tasks">

            <div class="todo">
                <h1>Do zrobienia:</h1>
                <% cards.forEach(card => { %>
                    <% if (card.column === 1) {%> 
                    <div class="card dropdown">
                        <p class="text"> <%= card.text %></p>
                        <div class="inner-box">
                            <div class="options">
                                <a class="dropdown-content" href="/toInProgress/<%= card.id %> "> W trackie &nbsp</a>
                                <a class="dropdown-content" href="/toDone/<%= card.id %> "> Gotowe &nbsp</a>
                                <a class="dropdown-content" href="/delete/<%= card.id %> "> Usuń &nbsp</a>
                            </div>
                            <p class="date"> Do: <%= card.date.toLocaleDateString() %> </p>
                        </div>
                    </div>
                    <% }}); %> 
            </div>

            <div class="inprogress">
                <h1>W trakcie:</h1>
                <% cards.forEach(card => { %>
                    <% if (card.column === 2) {%> 
                        <div class="card dropdown">
                            <p class="text"> <%= card.text %></p>
                            <div class="inner-box">
                                <div class="options">
                                    <a class="dropdown-content" href="/toToDo/<%= card.id %> "> Do zrobienia &nbsp</a>
                                    <a class="dropdown-content" href="/toDone/<%= card.id %> "> Gotowe &nbsp</a>
                                    <a class="dropdown-content" href="/delete/<%= card.id %> "> Usuń &nbsp</a>
                                </div>
                                <p class="date"> Do: <%= card.date.toLocaleDateString() %> </p>
                            </div>
                        </div>
                    <% }}); %> 
            </div>

            <div class="done">
                <h1>Zrobione:</h1>
                <% cards.forEach(card => { %>
                    <% if (card.column === 3) {%> 
                        <div class="card dropdown">
                            <p class="text text-done"> <%= card.text %></p>
                            <div class="inner-box">
                                <div class="options">
                                    <a class="dropdown-content" href="/toToDo/<%= card.id %> "> Do zrobienia &nbsp</a>
                                    <a class="dropdown-content" href="/toInProgress/<%= card.id %> "> W trackie &nbsp</a>
                                    <a class="dropdown-content" href="/delete/<%= card.id %> "> Usuń &nbsp</a>
                                </div>
                                <p class="date"> Do: <%= card.date.toLocaleDateString() %> </p>
                            </div>
                        </div>
                    <% }}); %> 
            </div>


        </div>
    </div>
</body>
</html>